/* Universal Styles */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
    background-color: black;
}

/* Main Section */

.header-main {
    font-size: 50px;
    font-weight: normal;
}

.link-download {
    font-size: 16px;
    color: aquamarine;

}

/* Travel Guide & Coming Soon */

.header-secondary {
    font-size: 42px;
    font-weight: 300;
}

.header-subheader {
    font-size: 21px;
    font-weight: normal;
    color: gray;
}

/* Footer */

.footer {
    font-size: 21px;
    font-weight: normal;
    text-align: right;
    color: gray;
}